<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Node - <span class="text-capitalize">Authentication System</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link <%= activeLink === '/' ? 'active' : '' %> " href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activeLink === '/users/login' ? 'active' : '' %>" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activeLink === '/users/register' ? 'active' : '' %>" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activeLink === '/dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
